

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}
.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw); /* for responsive over various sizes and image doesnt get small */
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}
.main .box {
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.44;
    position: absolute;
    top: 0;
}
nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
nav img {
    width: 114px;
    position: relative;
    z-index: 10; /*to make logo darker and pop it out of bg*/
}
nav button {
    position: relative;
    z-index: 10;
}
.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 23px;
    padding: 0 30px;
}
.hero> :first-child {  /* .hero> for immediate first child,so that first child of every div in hero does not get this properties*/
    font-family: "Martel Sans", sans-serif;
    font-weight: bolder;
    font-size: 38px;
    text-align: center;

}
.hero> :nth-child(2) {
    font-size: 20px;
    text-align: center;
}
.hero> :nth-child(3) {
    font-size: 20px;
    text-align: center;
}
.hero div input {
    padding: 2px 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 20vw;
    position: relative;
    right: -1px;
    top: -3px;
    background-color: black;
    opacity: 0.8;
    border-radius: 3px;
    color: white;
}
.separation {
    height: 7px;
    background-color: rgb(50, 47, 47);
}
.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
}
.btn-red {
    background-color: red;
    color: white;
    padding: 8px 25px;
    font-size: 20px;
    border-radius: 3px;
}
.btn-red-sn {
    background-color: red;
    padding: 6px 11px;
    border-radius: 6px;
    color: white
}
.btneng {
    background-color: black;
    color: white;
    padding: 5px 19px;
    border: 1px black
}
